@import '~@tabler/core/src/scss/tabler';
@import '~@tabler/core/src/scss/tabler-vendors';
@import 'select2/src/scss/core';

.container-lg{
    width: 80%;
}

a {
    text-decoration: none !important;
}
.language-dropdown{
    .dropdown-menu {
        min-width: 0 !important;
    }
}

.select2-container{
    width: 100% !important;
}
